<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<th:block th:fragment="footerFragment">
<!--    <footer class="sticky-footer bg-white">-->
<!--        <div>-->
<!--            <p align="center">문의사항 : imbc0224@gmail.com</p>-->
<!--            <p align="center">개인 블로그 : <a href="https://ddungi.github.io/">ddungi.github.io</a></p>-->
<!--        </div>-->
<!--    </footer>-->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</th:block>

</html>